h1 {
   color: blue;
   background-color: lightblue;
   text-align: center;
   text-decoration: underline;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-style: italic;
}
body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    opacity : 0.3;
   }
ul {
   list-style-position: inside;
   text-align: center;
   padding : 0;
    }
