h1 {
   color: rgb(96, 34, 5);
   background-color: rgb(188, 243, 182);
   text-align: center;
   text-decoration: underline;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: 40px;
   text-shadow: rgb(134, 67, 67) 2px 2px 5px;
   
}
h2 {
   color: rgb(10, 10, 79);
   text-align: left;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-style: italic;
   
   
}
body{
    background-image: url(background.png);
    background-size: 100px 50px;;
    background-size: cover;
    border: 5px solid black; 
    margin: 20px; 
    padding: 20px;
    
}
img {
    border-radius:50px ;
    border-style: solde;
    border-color: black;
    max-width: 15%;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;   
   }
ul {
     color: rgb(10, 10, 79);
   text-align: left;
    font-style: italic;
}
